<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QRClassConnect | QR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profesor']" color="warning">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card class="centrado">
    <img src="assets/img/qr.png"/>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <h4>Lista de alumnos [seccion]</h4>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 1</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 2</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 3</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 4</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 5</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 6</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 7</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle aria-label="Danger toggle" color="success" >Alumno 8</ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-card class="centrado">
    <ion-button fill="clear" color="warning" id="open-toast">Asistencia total</ion-button>
    <ion-toast trigger="open-toast" message="Hay [N°] de alumnos en sala" [duration]="3000" icon="megaphone-outline"></ion-toast>
    <ion-button id="open-modal" color="warning">Guardar</ion-button>
    <ion-modal [keepContentsMounted]="true" trigger="open-modal" #modal>
      <ng-template>
        <ion-header>
          <ion-toolbar style="display: flex; justify-content: space-between;">
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()" color="warning">Aceptar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <h2 class="ion-padding"class="centrado">¡Asistencia registrada con éxito!</h2>
        <img class="centrado" src="assets/img/check.png"/>
      </ng-template>
    </ion-modal>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-message">© 2023 Hurub+. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
  