<ion-header [translucent]="true">
  <ion-toolbar class="centrado">
    <h1>Bienvenido a<br>QRClassConnect</h1>
    <img src="assets/img/duocuc.jpeg"/>
  </ion-toolbar>
  <br>
</ion-header>

<ion-content class="centrado" [fullscreen]="true">

  <ion-input label="Ingrese Correo Electrónico" [(ngModel)]="correo" labelPlacement="floating" fill="outline" placeholder="Correo válido"></ion-input>
  <ion-input label="Ingrese Contraseña" [(ngModel)]="contrasena" labelPlacement="floating" type="password" placeholder="Máximo 10 caracter" fill="outline" [counter]="true" maxlength="10" class="ion-hide-when-activated"></ion-input>

  <ion-button (click)="iniciarSesion()" color="warning">Iniciar Sesion</ion-button>
 

  <div>  <a href="http://localhost:8100/registro">Crea tu cuenta gratis</a></div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-message">© 2023 Hurub+. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
