<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página no encontrada
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/login']" color="warning">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="assets/img/404.gif"/>
</ion-header>


 <br>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">page404</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-message">© 2023 Hurub+. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>

