<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/img/logo3.png"/>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" fill="clear" color="warning">Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a clases</ion-card-title>
      <ion-card-subtitle>
        Profesor: {{ nombre }} {{ apellido }}
        <br>{{ correo }}
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Seleccione la clase correspondiente para mostrar el código QR asignado.
      <br>
  
    </ion-card-content>

    <ion-card class="centrado">
      <ion-card-content>
        <ion-list>
          <br>
          <ion-button color="warning" expand="full" (click)="listarCurso()">Listar cursos</ion-button>
          <ion-item *ngFor="let curso of cursos">
            <ion-label>
              <h2>Id Seccion: {{ curso.idseccion }}</h2>
              <h3>Asignatura: {{ curso.asignatura }}</h3>
              <h3>Nombre Asignatura: {{ curso.nombreasignatura }}</h3>
            </ion-label>
            <ion-button color="warning" fill="outline" slot="end" (click)="qr(curso.idseccion)">Ver Detalle</ion-button>
          </ion-item>
        </ion-list>
     </ion-card-content>
    </ion-card>
<br>


  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>



<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-message">© 2023 Hurub+. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
  