<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QRClassConnect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6 class="centrado">Ingresa tus datos personales y disfruta de la expeciencia DuocUc</h6>
  
  <ion-item>
    <ion-input label="Nombre" placeholder="Ingrese nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Apellido" placeholder="Ingrese apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Run" placeholder="Ingrese run"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select label="Carrera" placeholder="Selecciones carrera">
      <ion-select-option value="ingM">Ing. en Marketing Digital</ion-select-option>
      <ion-select-option value="ingG">Ing. en Gestión Logística</ion-select-option>
      <ion-select-option value="ingI">Ing. en Informática</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select label="Perfil" placeholder="Seleccione perfil">
      <ion-select-option value="prof">Profesor</ion-select-option>
      <ion-select-option value="alum">Alumno</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input label="Correo" placeholder="Ingrese correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>
 
  <div class="centrado">
    <br>
    <ion-button fill="clear" color="warning">Limpiar</ion-button>
    <ion-button id="open-modal" color="warning">Registrar</ion-button>
    <ion-modal [keepContentsMounted]="true" trigger="open-modal" #modal>
      <ng-template>
        <ion-header>
          <ion-toolbar style="display: flex; justify-content: space-between;">
            <!-- Coloca el botón "Aceptar" en la parte derecha -->
            <ion-buttons slot="end">
              <ion-button [routerLink]="['/login']" (click)="modal.dismiss()" color="warning">aceptar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <h2 class="ion-padding">¡Registro completado con éxito!</h2>
        <img src="assets/img/check.png"/>
      </ng-template>
    </ion-modal>
  </div>
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-message">© 2023 Hurub+. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
  